@import 'normalize.css';

:root {
  --primary-color: #ff3b5c;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-space: 24px;
  --black: #161823;
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'roboto', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
  color: var(--black);
}

// NOTE: custom tippy

body {
  .tippy-box {
    border-radius: 8px;
    line-height: 2.2rem;
    font-size: 1.6rem;
    background-color: rgba(86, 86, 86, 0.9);
  }
  .tippy-arrow {
    color: rgba(86, 86, 86, 0.9);
  }
  .tippy-content {
    padding: 8px 10px;
  }
  .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
  }
}
