.wrapper {
  --search-border-radius: 23px;
  --search-height: 46px;
  --search-top-space: 9px;
  --search-button-width: 52px;
  height: var(--default-layout-header-height);
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-space);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.custom-login {
  color: rgb(34, 214, 61);
}
//NOTE: actions
.actions {
  display: flex;
  align-items: center;
}
.action-btn {
  background-color: transparent;
  height: 36px;
  color: var(--black);
  padding: 4px 10px;
  cursor: pointer;
}
.more-btn {
  font-size: 1.8rem;
  margin-left: 20px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}
.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}

//NOTE: UploadIcon
.upload-icon {
  padding: 4px;
}
.message-btn {
  position: relative;
}
.badge-message {
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  padding: 0 6px;
  border-radius: 12px;
  line-height: 2.4rem;
  color: var(--white);
}
